.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app-inner-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.app-fixed-container {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
